<div class="container">
    <div class="form-box">
        <img [src]="logotipo" alt="logotipo" id="logotipo">
        <h1>Cadastro</h1>
        <form>
            <div class="input-box">
            <label for="usuario">Usuário:</label>
            <input type="text" name="usuario" id="usuario"
            >
            </div>

            <div class="input-box">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
            </div>
            <div class="input-box">
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" name="sobrenome" id="sobrenome">
            </div>

            <div class="input-box">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email">
            </div>
            <div class="input-box">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha">
            </div>
            <div class="input-box">
            <label for="confirm-senha">Confirma Senha:</label>
            <input type="password" name="confirm-senha" id="confirm-senha">
            </div>
            <div class="button-box">
            
                <button id="voltar" type="button">Voltar</button>
                <button id="cadastrar" type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
